/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.timelineResourceTracks {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
}

.timelineResources {
  background-color: #fff;
}

.timelineResourcesHeader {
  position: relative;
  margin-left: 20px;
  cursor: default;
  font-size: 12px;
  line-height: 20px;
}

.timelineResourcesHeader::before {
  position: absolute;
  top: 5px;
  left: -11px;
  width: 0;
  height: 0;

  /* Drawing the arrow */
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #979797;
  content: '';
  transition: transform 0.2s;
}

.timelineResourcesHeader.opened::before {
  transform: rotate(90deg);
}

.timelineTrackResourceRow {
  position: relative;
}

.timelineTrackResourceRow .timelineTrackThreadMarkers {
  position: absolute;
  width: 100%;
}

.timelineResourceTracks:hover .timelineTrackResourceLabel {
  opacity: 0;
}

.timelineTrackResourceLabel, .timelineTrackResourceLabel2 {
  pointer-events: none;
  position: absolute;
  z-index: 3;
  line-height: 20px;
  top: 0;
  padding: 0 5px;
  margin-left: 15px;
  visibility: visible;
  opacity: 1;
}

.timelineTrackResourceLabel {
  transition: opacity 200ms;
}

.timelineResourceTracks:hover .timelineTrackResourceLabel {
  /* TODO - needs visibility: hidden as well */
  opacity: 0;
}

/* .timelineResourceTracks:hover .timelineTrackResourceRow {
  opacity: 0.5;
}

.timelineResourceTracks:hover .timelineTrackResourceRow:hover {
  opacity: 1;
} */

.timelineTrackResourceLabel2 {
  visibility: hidden;
}

.timelineTrackResourceRow:hover .timelineTrackResourceLabel2 {
  visibility: visible;
  opacity: 1;
  background-color: var(--grey-60);
  top: -21px;
  border-radius: 5px 5px 0 0;
  box-shadow: 0 -2px 2px rgba(0,0,0,.2);
  padding: 0 10px;
  color: #fff;
  left: 4px;
}

.timelineTrackResource .timelineTrackTrack:hover::before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: var(--grey-60);
  z-index: 2;
  top: -3px;
}
